<footer>
    <div class="wrapper">
        <div class="footer-top">
            {{#link 'help_center'}}<img src="https://alfabank.ua/zendesk/images/footer-logo.svg" alt="Footer Logo" class="footer-top__logo">{{/link}}
            <div class="footer-top__social">
                <a href="https://m.facebook.com/AlfaBankUkraine" class="social-item fb"></a>
                <a href="https://mobile.twitter.com/AlfaBankUkraine" class="social-item tw"></a>
                <a href="https://www.instagram.com/alfabankua" class="social-item ig"></a>
                <a href="https://m.youtube.com/user/alfabankua" class="social-item yt"></a>
                <a href="https://t.me/alfabankua" class="social-item tg"></a>
            </div>
        </div>
        <div class="footer-bottom">
            <div>{{dc 'footer1'}}</div>
            <a href="https://alfabank.ua/">{{dc 'footer2'}}</a>
        </div>
    </div>
</footer>