
<section class="subscription">
    <div class="wrapper">
        <div class="text">Будьте в курсе, будьте первым с Альфа</div>
        <div class="input-wrapper">
            <form id="subscription-form">
                {{!-- <input type="email" class="subscription-email" name="subscription-email" placeholder="Ваш email"> --}}
                {{#if settings.show_follow_article}}
                    <div class="article-subscribe subscription-submit">{{subscribe}}</div>
                {{/if}}
            </form>
        </div>
    </div>
</section>

<footer>
    <div class="wrapper">
        <div class="footer-top">
            {{#link 'help_center'}}<img src="https://alfabank.ua/zendesk/images/footer-logo.svg" alt="Footer Logo" class="footer-top__logo">{{/link}}
            <div class="footer-top__social">
                <a href="#" class="social-item fb"></a>
                <a href="#" class="social-item tw"></a>
                <a href="#" class="social-item ig"></a>
                <a href="#" class="social-item yt"></a>
            </div>
        </div>
        <div class="footer-bottom">
            <div>© 1999–2020 ЗАО «Альфа-Банк»</div>
            <a href="https://alfabank.ua/">Сайт Альфа-Банка</a>
        </div>
    </div>
</footer>