<header>
    <img src="/images/header-image-1.svg" alt="Image 1" class="header__image-1">
    <img src="/images/header-image-2.svg" alt="Image 1" class="header__image-2">
    <img src="/images/header-image-mob.svg" alt="Image 1" class="header__mob">
    <img src="/images/header-image-mob-2.svg" alt="Image 1" class="header__mob-2">
    <div class="wrapper">
        <div class="header__top">
            {{#link 'help_center'}}
                <img src="{{settings.logo}}" class="logo" alt="{{t 'home_page' name=help_center.name}}">
            {{/link}}
            <div class="header-top__buttons">
                <div class="button red">Отправить запрос</div>
                <div class="button">Вход</div>
            </div>
        </div>
    </div>
</header>

